/* TODO: Style the product card container */
.card {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

/* TODO: Add special styling for out-of-stock products */


.outOfStockClass {
  background-color: #ffe0e0;
  border: 1px solid red;
  opacity: 0.7;
}